.body {
    transform-style: preserve-3d;
}


.box_animate {
    position: fixed;
    height: 500px;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(90deg);
    animation-name: box_animate;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.front {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;
    margin: auto;
    animation-name: front_animate;
    transform-style: preserve-3d;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.back {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: blue;
    margin: auto;
    animation-name: back_animate;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-direction: normal;
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes box_animate {
    0% {
        transform: rotateY(0deg)
    }
    25% {
        transform: rotateY(90deg)
    }
    50% {
        transform: rotateY(180deg)
    }
    75% {
        transform: rotateY(270deg)
    }
    100% {
        transform: rotateY(360deg)
    }
}

@keyframes front_animate {
    0% {
        transform: rotateZ(0deg) translateZ(25px)
    }
    25% {
        transform: rotateZ(90deg) translateZ(25px)
    }
    50% {
        transform: rotateZ(180deg) translateZ(25px)
    }
    75% {
        transform: rotateZ(270deg) translateZ(25px)
    }
    100% {
        transform: rotateZ(360deg) translateZ(25px)
    }
}

@keyframes back_animate {
    0% {
        transform: rotateZ(0deg) translateZ(-25px)
    }
    25% {
        transform: rotateZ(-90deg) translateZ(-25px)
    }
    50% {
        transform: rotateZ(-180deg) translateZ(-25px)
    }
    75% {
        transform: rotateZ(-270deg) translateZ(-25px)
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-25px)
    }
}

.text_front{
    color: white;
    text-align: center;
    font-size: 25px;
    backface-visibility: hidden;
    background: red;
}
.text_back{
    color: white;
    text-align: center;
    font-size: 25px;
    transform: translateZ(-1px) rotateY(180deg);
}


